html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.wrapper {
    background-color: #fff;
    color: #000;
}
.dark {
    background-color: #000;
    color: #fff;
}
.container {
    width: 800px;
    margin: 0 auto;
}
    /* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.dark__mode {
    width: 25px;
    cursor: pointer;
}
.contacts__list {
    display: flex;
}
.contacts_item {
    margin-right: 10px;
}
.contacts__img {
    width: 20px;
    height: 20px;
}
.nav__list {
    display: flex;
    justify-content: center;
}
.nav__link {
    margin-right: 25px;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
}
.hamburger {
    width: 25px;
    height: 13px;
    position: relative;
    cursor: pointer;
}
.hamburger:before {
    top: 0;
}
.hamburger:after {
    bottom: 2px;
}
.hamburger:before, .hamburger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.hamburger span {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 16px;
    transition: all 0.3s ease 0s;
}
/* hero */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hero_subtitle {
    font-size: 50px;
    font-weight: 800;
}
/* about */
.about {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.about__photo {
    margin-right: 6%;
    padding: 2% 0;
}
.about__pic {
    width: 300px;
    margin-right: 20px;
}
.about__name {
    font-size: 30px;
}
.about__text {
    font-family: serif;
    font-size: 14px;
    width: 80%;
    margin-bottom: 40px;
}
.about__sign {
    text-align: center;
}
img.about__sign-pic {
    width: 150px;
}
/* skills */
.title-up {
    font-size: 16px;
    color: #ccc;
}
.title-main {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.skills-list {
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 50px;
}
.skills-list__item {
    color: #566358;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
}
.item {
    position: relative;
    display: inline-block;
    border: 1px #ccc;
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
    margin-top: 16px;
}
.circles {
    fill: none;
    stroke-width: 15;
}
.circle__first {
    stroke: #dfdcd5;
}
.circle__second {
    stroke: #000;
    stroke-dasharray: .0010 282.6;
    transition: all 3s;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    will-change: stroke-dasharray;
}
.item__title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
    font-size: 12.8px;
    color: #ccc;
    font-weight: bold;
    margin-bottom: 16px;
}
/* projects */
.work-first {
    background-image: url('img/work1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.work-second {
    background-image: url('img/work2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.work-third {
    background-image: url('img/work3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.work-fourth {
    background-image: url('img/work4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.projects__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.projects__item {
    width: 350px;
    height: 200px;
    margin: 0 20px 20px 0;
    position: relative;
}
.projects__item::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.75;
    z-index: 1;
}
.projects__img {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 480px;
    object-fit: cover;
    position: absolute;
    margin-bottom: 0;
    max-height: 100%;
    filter: grayscale(1);
}
.projects__content {
    position: absolute;
    max-width: 65%;
    bottom: 50px;
    left: 30px;
    z-index: 2;
    background-color: #fff;
    padding: 15px;
}
.projects__title {
    color: #000;
    padding: 5px 10px;
    border: 1px solid #000;
    font-size: 16px;
}
.projects__stack {
    font-size: 14px;
    margin-bottom: 5px;
}
.prjects__title {
    margin-bottom: 15px;
}
.projects__btn {
    color: #000;
    padding: 5px 10px;
    border: 1px solid #000;
    font-size: 16px;
}
.projects__btn:hover {
    color: #fff;
    background-color: #000;
}
/* exp */
.exp {
    margin-bottom: 50px;
}
.exp__item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.exp__data {
    width: 40%;
}
.exp__time {
    font-size: 14px;
    margin-bottom: 10px;
}
.exp__company {
    font-weight: 600;
}
.exp__title {
    font-weight: 600;
    margin-bottom: 10px;
}
.exp__task {
    font-size: 14px;
    font-family: serif;
    list-style: circle;
}
    /* education */
.education {
    margin-bottom: 50px;
}
.education__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.education__time {
    font-size: 14px;
}
.education__program {
    font-weight: 600;
}
a.education__link {
    font-size: 14px;
    color: #000;
    text-decoration: underline;
}
    /* lang */
.lang {
    margin-bottom: 50px;
}
.lang__list {
    display: flex;
}
.lang__item {
    margin-right: 50px;
}
.lang__title {
    font-weight: 600;
}
.lang__progress {
    border-radius: 0;
}
.lang__subtitle {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}